name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.23"
      - name: Test
        working-directory: cmd/maestro-cli
        run: go test ./...
      - name: Build
        working-directory: cmd/maestro-cli
        run: go build ./...
      - name: Vet
        working-directory: cmd/maestro-cli
        run: go vet ./...
